<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="stylesheets/util.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

    <meta name="robots" content="noindex, follow" />
  </head>

  <body>
    <div class="container-contact100">
      <div class="wrap-contact100">
        <form
          class="contact100-form validate-form"
          method="POST"
          action="/add"
        >
          <span class="contact100-form-title">
            Add a Contact
          </span>
          <div class="wrap-input100">
            <input
              class="input100"
              id="name"
              type="text"
              name="name"
              placeholder="Name"
              required
            />

          </div>
          <div class="wrap-input100">
            <input
              class="input100"
              id="email"
              type="text"
              name="email"
              placeholder="Email"
              required
            />
            <label class="label-input100" for="email">
              <span class="lnr lnr-envelope"></span>
            </label>
          </div>
          <div class="wrap-input100">
            <input
              class="input100"
              id="phone"
              type="text"
              name="phone"
              placeholder="Phone"
              required
            />
            <label class="label-input100" for="phone">
              <span class="lnr lnr-phone-handset"></span>
            </label>
          </div>

          <div class="container-contact100-form-btn">
            <div class="wrap-contact100-form-btn">
              <div class="contact100-form-bgbtn"></div>
              <button class="contact100-form-btn">
                Add Contact
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="dropDownSelect1"></div>

  </body>

</html>