<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

    <meta name="robots" content="noindex, follow" />
  </head>

  <body>
    <div class="container-contact100">
      <div class="wrap-contact100">
        <form
          class="contact100-form validate-form"
          method="POST"
          id="person-form"
          action="/edit/{{person._id}}"
        >
          <span class="contact100-form-title">
Edit the contact          </span>
          <div class="wrap-input100">
            <input
              class="input100"
              id="name"
              type="text"
              name="name"
              placeholder="Name"
               value="{{person.name}}"
              required
            />

          </div>
          <div class="wrap-input100">
            <input
              class="input100"
              id="email"
              type="text"
              name="email"
              placeholder="Email"
               value="{{person.email}}"
              required
            />
            <label class="label-input100" for="email">
              <span class="lnr lnr-envelope"></span>
            </label>
          </div>
          <div class="wrap-input100">
            <input
              class="input100"
              id="phone"
              type="text"
              name="phone"
              placeholder="Phone"
              value="{{person.phone}}"
              required
            />
            <label class="label-input100" for="phone">
              <span class="lnr lnr-phone-handset"></span>
            </label>
          </div>

          <div class="container-contact100-form-btn">
            <div class="wrap-contact100-form-btn">
              <div class="contact100-form-bgbtn"></div>
              <button class="contact100-form-btn">
                Edit Contact
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="dropDownSelect1"></div>

	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>

	<script>        $("#person-form").validate({
			rules:
			{
				name:
				{
					required: true,
					minlength: 3,
					maxlength: 35

				},
				phone:
				{
					required: true,
					number: true,
					minlength: 10,
					maxlength: 12
				},
				email:
				{
					required: true,
					email: true,
				}
			},

			messages: {
				name:
				{
					minlength: "Please enter your name"
				},
				Phone:
				{
					minlength: "Please enter a valid number",
					maxlength: "Please enter a valid number"
				}

			}

		})</script>
  </body>

</html>